.hidden{
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button{
    cursor: pointer;
}

/*common*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*header*/

.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list,
.contacts-list{
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
   
    
}.header-logo{
    display: block;
    padding: 16px 0;
}


.header-logo .logo-part {
    color: #2e2f42;
}

.button-menu{
    padding: 0;
    border: none;
    background-color: transparent;
}
.menu-icon{
    display: block;
    fill:#2f2f37;
}

@media screen and (min-width: 768px) {
    .button-menu {
        display: none;
    }
    .header-nav {
            display: flex;
            align-items: center;
        }
    .nav-list{
        display: flex;
        align-items: center;
        gap: 40px;
        }
    .contacts {
        font-style: normal;
        display: block;
        }
    .contacts-list {
         display: flex;
         flex-direction: column;
         gap: 12px;
         }
    .contacts-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                 }
}